<VirtualHost *:5000>	
	WSGIDaemonProcess fishtank user=user1 group=user1 threads=5
    WSGIScriptAlias / /var/www/fishtank/server/fishtank.wsgi
	
    <Directory /var/www/fishtank/server>
        WSGIProcessGroup fishtank
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>