<VirtualHost *:5000>	
	WSGIDaemonProcess fishtank user=pi group=pi threads=5
    WSGIScriptAlias / /var/www/fishtank/server/fishtank.wsgi
	
    <Directory /var/www/fishtank/server>
        WSGIProcessGroup fishtank
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>